<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Least Expensive Restaurants and Bars</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var center = {lat: {{centerLat}}, lng: {{centerLong}}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: center,
          zoom: 11
        });

        {% for rest in cheap5 %}
        var marker = new google.maps.Marker({
          position: {lat: {{rest[2]}}, lng : {{rest[3]}}},
          label: "{{rest[5]}}",
          map: map
        });
        {%endfor%}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{apikey}}&callback=initMap">
    </script>
  </body>
</html>
